Repository KCS-First-Project/mafia-game, pull requests merged in 2024-01, with the labels that each got.

#20 Feature/client/GUI timer-13
  src/main/java/com/mafiachat/client/ChatPanel.java
  src/main/java/com/mafiachat/client/GameTimer.java
  src/main/java/com/mafiachat/client/StartPanel.java
Labels: client

#22 fix: 플레이어 리스트 노티 안 보내주는 현상 수정
  src/main/java/com/mafiachat/server/manager/GameManager.java
Labels: server

#30 fix: 유저 입장 안내문 수정
  src/main/java/com/mafiachat/server/manager/GroupManager.java
Labels: bug, server

#29 feat: 각 게임 단계 별 타이머 로직 적용
  src/main/java/com/mafiachat/client/ChatPanel.java
  src/main/java/com/mafiachat/client/GameTimer.java
Labels: client

#32 Feature/server/command 31
  src/main/java/com/mafiachat/protocol/Command.java
  src/main/java/com/mafiachat/server/manager/GameManager.java
Labels: server

#34 fix: 게임 결과 메시지 개행을 별개 리퀘스트로 변경
  src/main/java/com/mafiachat/server/manager/GameManager.java
Labels: bug, server

#41 Feature/server/test 40
  src/test/java/com/mafiachat/server/handler/Player/PlayerTest.java
  src/test/java/com/mafiachat/server/manager/GroupManagerTest.java
Labels: bug, server

#44 Feature/client/image 43
  src/main/java/com/mafiachat/client/ChatPanel.java
  src/main/java/com/mafiachat/client/MafiaClient.java
  src/main/java/com/mafiachat/client/StartPanel.java
  src/main/java/com/mafiachat/client/util/ImageProvider.java
  src/main/resources/images/mafia.jpeg
Labels: client

#46 feat: 서버 시작 시 호스트, 포트 받는 다이얼로그 구현
  src/main/java/com/mafiachat/server/ChatServer.java
Labels: server

#48 fix: 게임 2회 차 이후 직업 행동 반영 안되는 서버 버그 수정
  src/main/java/com/mafiachat/server/manager/GameManager.java
Labels: bug, server
